configuration {
   display-drun: "Applications";
   display-window: "Windows:";
   drun-display-format: "{icon} {name}";
   font: "IosevkaTerm Nerd Font 13";
   //modi: "window, run, drun";
   show-icons: true;
   icon-theme: "Papirus";
}


@theme "/rofi-v1/config-v1.rasi"

//@theme "/rofi-v2/config-v2.rasi"